<profile>
      <id>sonar</id>
      <activation>
        <activeByDefault>true</activeByDefault>
      </activation>
      <properties>
            <sonar.jdbc.username>admin</sonar.jdbc.username>
            <sonar.jdbc.password>admin</sonar.jdbc.password>   
            <sonar.host.url>http://192.168.1.100:9000</sonar.host.url>
      </properties>
</profile>
